
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <meta name="copyright" content="MACode ID, https://www.macodeid.com/">
  
  <title>JDK</title>
  
  <link rel="shortcut icon" type="image/x-icon" href="/assets/logoJDK.png">
  
  <link rel="stylesheet" type="text/css" href="/assets/css/themify-icons.css">
  
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">

  <link rel="stylesheet" type="text/css" href="/assets/vendor/animate/animate.css">
  
  <link rel="stylesheet" type="text/css" href="/assets/vendor/owl-carousel/owl.carousel.css">
  
  <link rel="stylesheet" type="text/css" href="/assets/vendor/perfect-scrollbar/css/perfect-scrollbar.css">
  
  <link rel="stylesheet" type="text/css" href="/assets/vendor/nice-select/css/nice-select.css">

  <link rel="stylesheet" type="text/css" href="/assets/vendor/fancybox/css/jquery.fancybox.min.css">
  
  <link rel="stylesheet" type="text/css" href="/assets/css/virtual.css">
  
  <link rel="stylesheet" type="text/css" href="/assets/css/minibar.virtual.css">
  
</head>
<body class="theme-red">
  
  <!-- Back to top button -->
  <div class="btn-back_to_top">
    <span class="ti-arrow-up"></span>
  </div>
  
  <!-- Setting button -->
  <div class="config">
    <div class="template-config">
      <!-- Settings -->
      <div class="d-block">
        <button class="btn btn-fab btn-sm" id="sideel" title="Settings"><span class="ti-settings"></span></button>
      </div>
    </div>
    <div class="set-menu">
      <p>Select Color</p>
      <div class="color-bar" data-toggle="selected">
        <span class="color-item bg-theme-red selected" data-class="theme-red"></span>
        <span class="color-item bg-theme-blue" data-class="theme-blue"></span>
        <span class="color-item bg-theme-green" data-class="theme-green"></span>
        <span class="color-item bg-theme-orange" data-class="theme-orange"></span>
        <span class="color-item bg-theme-purple" data-class="theme-purple"></span>
      </div>
    </div>
  </div>
  
  <div class="topbar-nav fixed-top">
    <div class="brand">
      <img src="/assets/logoJDK.png" alt="" width="30" height="30">
    </div>
    <button class="btn-fab toggle-menu mr-3"><span class="ti-menu"></span></button>
  </div>

    <!-- Minibar -->
<div class="minibar">
  <div class="content">
    <ul class="main-menu">
      <li class="menu-item active">
        <a href="/" class="menu-link">
          <span class="icon ti-home"></span>
          <span class="caption">Inicio</span>
        </a>
      </li>  
      
        <li class="menu-item">
          <a href="/libros" class="menu-link">
            <span class="icon ti-book"></span>
            <span class="caption">Libros</span>
          </a>
        </li> 
         
      <% if (!user) { %>
        <li class="menu-item">
          <a href="/login" class="menu-link">
            <span class="icon ti-arrow-right"></span>
            <span class="caption">Login</span>
          </a>
        </li> 
      <% } %>   

      <% if (!user) { %>
      <li class="menu-item">
        <a href="/register" class="menu-link">
          <span class="icon ti-write"></span>
          <span class="caption">Registro</span>
        </a>
      </li>  
      <% } %>
      
      <% if (user) { %>
        <li class="menu-item">
          <a href="/users/perfil" class="menu-link">
            <span class="icon ti-user"></span>
            <span class="caption">Perfil</span>
          </a>
        </li> 
      <% } %>
      
      <% if (user) { %>
        <li class="menu-item">
          <a href="/logout" class="menu-link">
            <span class="icon ti-arrow-left"></span>
            <span class="caption">Logout</span>
          </a>
        </li> 
      <% } %>
      
      <li class="menu-item">
        <a href="/about" class="menu-link">
          <span class="icon ti-info-alt"></span>
          <span class="caption">Acerca de</span>
        </a>
      </li>
      
    </ul>
  </div>
</div> 
<div class="vg-main-wrapper"> 
       