<% include ./layouts/cabezera.ejs %> 
  

     
    <!-- Testimonials -->
    <div class="vg-page p-0" id="testimonial">
      <div class="owl-carousel testi-carousel" style="background-image: url(../assets/img/photo-2.jpg);">
        <div class="item">
            <h4>Vision</h4>
          <p>Disponer de un sistema de información documental y bibliográfico que responde adecuadamente a los objetivos científicos que tienen los estudiantes de nivel superior, orientados a la generación del pensamiento científico y técnico y su aplicación práctica en las diferentes áreas del conocimiento humano, con el fin último de servir a la sociedad.</p>
          <span class="iconic">
            <span class="ti-direction"></span>
          </span>
        </div>
        
        <div class="item">
            <h4>Mision</h4>
          <p>Brindar servicios de información, eficientes y de calidad, dirigidos a la satisfacción de las necesidades de formación e información de su comunidad académica y científica, a través de colecciones, infraestructura y recursos humanos que, en cantidad y calidad suficientes, contribuyan al logro de los objetivos de docencia, investigación y extensión de la institución.</p>
          <span class="iconic">
            <span class="ti-bar-chart"></span>
          </span>
          
        </div>
      </div>
    </div> <!-- End testimonial -->
    
    <!-- Portfolio page -->
    <div class="vg-page page-portfolio" id="portfolio">
      <div class="container">
        <h1 class="text-center fw-normal wow fadeInUp">Integrantes:</h1>
        

        <div class="gridder my-3">
          <div class="grid-item apps wow zoomIn">
            <div class="img-place" data-src="../assets/img/work/work-1.jpg" data-fancybox data-caption="<h5 class='fg-theme'>Palacios Bello Anthony</h5>">
              <img src="../assets/img/work/work-1.jpg" alt="">
              <div class="img-caption">
                <h5 class="fg-theme">Palacios Bello Anthony</h5>
              </div>
            </div>
          </div>
          <div class="grid-item template wireframes wow zoomIn">
            <div class="img-place" data-src="../assets/img/work/work-2.jpg" data-fancybox data-caption="<h5 class='fg-theme'>Arteaga Cedeño Axel</h5> ">
              <img src="../assets/img/work/work-2.jpg" alt="">
              <div class="img-caption">
                <h5 class="fg-theme">Arteaga Cedeño Axel</h5>
              </div>
            </div>
          </div>
          <div class="grid-item apps ios wow zoomIn">
            <div class="img-place" data-src="../assets/img/work/work-3.jpg" data-fancybox data-caption="<h5 class='fg-theme'>Alcivar Briones Cristhoper</h5>">
              <img src="../assets/img/work/work-3.jpg" alt="">
              <div class="img-caption">
                <h5 class="fg-theme">Alcivar Briones Cristhoper</h5>
              </div>
            </div>
          </div>
          <div class="grid-item graphic ui-ux wow zoomIn">
            <div class="img-place" data-src="../assets/img/work/work-4.jpg" data-fancybox data-caption="<h5 class='fg-theme'>ULEAM</h5>">
              <img src="../assets/img/work/work-4.jpg" alt="">
              <div class="img-caption">
                <h5 class="fg-theme">ULEAM</h5>
              </div>
            </div>
          </div>
          <div class="grid-item apps ios wow zoomIn">
            <div class="img-place" data-src="../assets/img/work/work-5.jpg" data-fancybox data-caption="<h5 class='fg-theme'>Guerrero Zamora Welinton</h5>">
              <img src="../assets/img/work/work-5.jpg" alt="">
              <div class="img-caption">
                <h5 class="fg-theme">Guerrero Zamora Welinton</h5>
              </div>
            </div>
          </div>
          <div class="grid-item graphic ui-ux wireframes wow zoomIn">
            <div class="img-place" data-src="../assets/img/work/work-6.jpg" data-fancybox data-caption="<h5 class='fg-theme'>FACCI</h5>">
              <img src="../assets/img/work/work-6.jpg" alt="">
              <div class="img-caption">
                <h5 class="fg-theme">FACCI</h5>
              </div>
            </div>
          </div>
        </div> <!-- End gridder -->
      </div>
    </div> <!-- End Portfolio page -->

      <!-- Page Contact -->
      <div class="vg-page page-contact" id="contact">
        <h1 class="text-center fw-normal wow fadeInUp">Ubicación:</h1>
        <div class="container-fluid">
          <div class="row py-5">
            <div class="col-lg-12 wow zoomIn">
              <div class="vg-maps">
                <div id="google-maps" style="width: 100%; height: 100%;"></div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- End page contact -->
  
  <% include ./layouts/pie.ejs %> 