<% include ./layouts/cabezera.ejs %> 


    <div class="vg-page page-home" id="home" style="background-image: url(/assets/img/fondocircular.jpg);">
        <div class="caption wow zoomInUp">
          <h1 class="fw-normal">Bienvenido a</h1>
          <h1 class="fw-normal">SGPC' JDK</h1>
          <% if (user) { %>
            <p class="tagline"><%= user.nombre_apellido %></p>
          <% } %>
          
        </div>
      </div>


<div class="container">
  <br/>
  <br/>
  <table class="table table-light">
      <tbody>
          <% for( let libro = 0; libro < libros.length; libro++ ) { %>
                <tr>
                 <%= libros[libro].nombre %> 
                </tr>
                  <tr style="width: 100%;"> 
                      <!-- <img class="img-thumbnail" width="100" src="" alt=""> -->
                      <iframe  src="images/<%= libros[libro].imagen %>" width="100%" height="300px" ></iframe>
                       
                  </tr>         
          <% } %>       
      </tbody>
  </table>
</div>


<% include ./layouts/pie.ejs %> 