<% include ./layouts/cabezera.ejs %>

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<div class="vg-main-wrapper"> 
  
    <!-- Page Login -->
    <div class="vg-page page-contact" id="contact">
      <h1 class="text-center fg-dark wow fadeInUp">SGPC 'JDK / LOGIN</h1>
      <div class="container-fluid">
        <div class="row py-5">
          <div class="col-lg-5">
            <form class="vg-contact-form" id="formLogin" action="/login" method="post">
              <div class="form-row">
                <div class="col-12 wow fadeInUp">
                  <input class="form-control" type="email" id="correo" name="correo" placeholder="Email Address">
                  <label id="smserr1"></label>
                </div>

                <div class="col-12 wow fadeInUp">
                  <input class="form-control" type="password" id="password" name="password" placeholder="Password">
                  <label id="smserr2"></label>
                </div>

               
                <button type="submit" class="btn btn-theme mt-4 wow fadeInUp ml-1" id="btnIn" disabled>Iniciar sesion</button>
                <a href="register" type="button" class="btn btn-theme mt-4 wow fadeInUp ml-1" >Registrarse</a>
              </div>
              
            </form>
            
          </div>
        </div>
      </div>
    </div> <!-- End page Login -->
  </div> <!-- End main wrapper --> 

  <script src="/javascripts/login.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <% if(alert) { %>
    <script>
      Swal.fire({
        title: '<%= alertTitle %>',
        text:'<%= alertMessage %>',
        icon:'<%= alertIcon %>',
        showConfirmButton: <%= showConfirmButton %>,
        timer: <%= timer %>
      }).then(()=>{
        window.location = '/<%= ruta %>'
      })
    </script>
  <% } %>

    <% include ./layouts/pie.ejs %> 