<% include ./layouts/cabezera.ejs %> 

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<div class="vg-main-wrapper"> 
    <!-- Page Register -->
    <div class="vg-page page-contact" id="contact">
      <h1 class="text-center fg-dark wow fadeInUp">SGPC 'JDK / REGISTRO</h1>
      <div class="container-fluid">
        <div class="row py-5">
          <div class="col-lg-5">
            <form class="vg-contact-form" id="formRegister" action="/register" method="post" >
              <div class="form-row">
                
                <div class="col-12 wow fadeInUp">
                    <input class="form-control" type="text" id="nombre_apellido" name="nombre_apellido" placeholder="Nombres y Apellidos">
                    <label id="smserr1"></label>
                 </div>
                
                <div class="col-12 wow fadeInUp">
                    <input class="form-control" type="email" id="correo" name="correo" placeholder="Email Address">
                    <label id="smserr2"></label>
                </div>
                
                
                <div class="col-12 wow fadeInUp">
                    <input class="form-control" type="text" id="ntelefono" name="ntelefono" placeholder="Telefono">
                    <label id="smserr3"></label>
                </div>

                <div class="col-12 wow fadeInUp">
                    <input class="form-control" type="password" id="password" name="password" placeholder="Password">
                    <label id="smserr4"></label>
                 </div>

                <div class="col-12 wow fadeInUp">
                    <input class="form-control" type="password" id="cpassword" name="cpassword" placeholder="Confirm Password">
                    <label id="smserr5"></label>
                 </div>

                <button type="submit" class="btn btn-theme mt-4 wow fadeInUp ml-1" id="btnIn" disabled>Registrarse</button>
                <a href="/" type="button" class="btn btn-theme mt-4 wow fadeInUp ml-1">Cancelar</a>
              </div>
              
            </form>
            
          </div>
        </div>
      </div>
    </div> <!-- End page Register -->
</div> <!-- End main wrapper -->
<script src="/javascripts/register.js"></script>    
    <% include ./layouts/pie.ejs %> 