

a {
  color: #00B7FF;
}

#smserr1{
  color: #ef3724;
  width: 100%;
}

#smserr2{
  color: #ef3724;
  width: 100%;
}

#smserr3{
  color: #ef3724;
  width: 100%;
}

#smserr4{
  color: #ef3724;
  width: 100%;
}

#Correcto{
  color: green;
  width: 100%;
}

#Incorrecto{
  color: #ef3724;
  width: 100%;
}

#smserr5{
  color: #ef3724;
  width: 100%;
}

#smserr6{
  color: #ef3724;
  width: 100%;
}
