<% include ../layouts/cabezera.ejs %> 
<br/> <br/> <br/> <br/>

<div class="container">
    <div class="card">
        <div class="card-header">
            Formulario de captura
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos del libro</h5>
            <p class="card-text">
                <form method="post" action="/libros" enctype="multipart/form-data">
    
                    <div class="form-group">
                        <label for="my-input">Nombre: </label>
                        <input id="my-input" class="form-control" type="text" name="nombre">
                    </div>
                
                    <div class="form-group">
                        <label for="my-input">Archivo: </label>
                        <input id="my-input" class="form-control-file" type="file" name="archivo">
                    </div>
                
                    <button class="btn btn-success" type="submit">Guardar</button>
                    <a href="/libros" class="btn btn-primary">Cancelar</a>
                </form>
            </p>
        </div>
    </div>
    
</div>

<br/> <br/> <br/> <br/>

<% include ../layouts/pie.ejs %> 