<% include ../layouts/cabezera.ejs %> 
<br/> <br/> <br/> <br/>

<div class="container">
    <div class="card">
        <div class="card-header">
            Formulario de captura
        </div>
        <div class="card-body">
            <h5 class="card-title">Editar datos del libro</h5>
            <p class="card-text">
                <form method="post" action="../actualizar" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="<%= libro.id %> ">
                    <div class="form-group">
                        <label for="my-input">Nombre: </label>
                        <input id="my-input" value="<%= libro.nombre %>" class="form-control" type="text" name="nombre">
                    </div>
                
                    <div class="form-group">
                        <label for="my-input">Imagen: </label>
                        <iframe  src="../../images/<%= libro.imagen %>" width="100%" height="300px" ></iframe>
                        <input id="my-input" value="<%= libro.imagen %>" class="form-control-file" type="file" name="archivo">
                    </div>
                
                    <button class="btn btn-success" type="submit">Actualizar</button>
                    <a href="/libros" class="btn btn-primary">Cancelar</a>
                </form>
            </p>
        </div>
    </div>   
</div>

<br/> <br/> <br/> <br/>
<% include ../layouts/pie.ejs %> 

