    <% include ../layouts/cabezera.ejs %> 
    <br/> <br/> <br/> <br/>

    <div class="container">
        <a href="/libros/crear" class="btn btn-primary" type="button">Añadir publicacion</a>
        <br/>
        <br/>
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th style="width: 100px;">Nombre:</th>
                    <th>Imagen:</th>
                    <th style="width: 100px;">Acciones</th>
                </tr>
            </thead>
            <tbody>
    
                <% for( let libro = 0; libro < libros.length; libro++ ) { %>
                    <tr>
                        <td> <%= libros[libro].id %>  </td>
                        <td> <%= libros[libro].nombre %> </td>
                        <td> 
                            <!-- <img class="img-thumbnail" width="100" src="" alt=""> -->
                            <iframe  src="images/<%= libros[libro].imagen %>" width="100%" height="300px" ></iframe>
                             
                        </td>
                        <td> 
                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group" >
                                <form class="form-inline" method="get" action="/libros/editar/<%= libros[libro].id %>">
                                    <button class="btn btn-warning" type="submit" style="width: 75px;">Editar</button>
                                </form>
                            </div> 
                            <br/> <br/>
                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <form class="form-inline" method="post" action="/libros/eliminar/<%= libros[libro].id %>">
                                    <button class="btn btn-danger" type="submit" style="width: 75px;">Borrar</button>
                                </form>
                            </div>  
                        </td>
                    </tr>
                <% } %>
                
            </tbody>
        </table>
    </div>

    <br/> <br/> <br/> <br/>
    <% include ../layouts/pie.ejs %> 
