<% include ../layouts/cabezera.ejs %> 

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<div class="vg-main-wrapper"> 
    <!-- Page Register -->
    <div class="vg-page page-contact" id="contact">
      <h1 class="text-center fg-dark wow fadeInUp">SGPC 'JDK / DATOS DEL PERFIL</h1>
      <div class="container-fluid">
        <div class="row py-5">
          <div class="col-lg-5">
            <form class="vg-contact-form" id="formActu" action="/users/actualizarperfil" method="post" >
              <div class="form-row">
                
                <div class="col-12 wow fadeInUp">
                  <input  type="hidden" class="form-control"  id="id" name="id" value=<%= user.id %> readonly>
               </div>

                <div class="col-12 wow fadeInUp">
                    <input class="form-control" type="text" id="nombre_apellido" name="nombre_apellido" value=<%= user.nombre_apellido %> readonly>
                    <label id="smserr1" ></label>
                 </div>
                
                <div class="col-12 wow fadeInUp">
                    <input class="form-control" type="email" id="correo" name="correo" value=<%= user.correo %> readonly>
                    <label id="smserr2"></label>
                </div>
                
                
                <div class="col-12 wow fadeInUp">
                    <input class="form-control" type="text" id="ntelefono" name="ntelefono" value=<%= user.ntelefono %> readonly>
                    <label id="smserr3"></label>
                </div>

                <div class="col-12 wow fadeInUp">
                    <input class="form-control" type="password" id="password" name="password" placeholder="Ingrese su contraseña actual" autofocus>
                    <label id="<%=sms%>" class="smserr4"><%=sms%></label>
                </div>

                <div class="col-12 wow fadeInUp">
                    <input class="form-control" type="text" id="cnpassword" name="cnpassword" placeholder="Ingrese nueva contraseña" readonly>
                    <label id="smserr5"></label>
                </div>

                <div class="col-12 wow fadeInUp">
                  <input class="form-control" type="text" id="cncpassword" name="cncpassword" placeholder="Repita la nueva contraseña" readonly>
                  <label id="smserr6"></label>
                </div>
                <button type="submit" class="btn btn-theme mt-4 wow fadeInUp ml-1" id="btnVer" >Verificar</button>               
                <button type="submit" class="btn btn-theme mt-4 wow fadeInUp ml-1" id="btnAct" disabled>Actualizar</button>
                <a href="/users/perfil" type="button" class="btn btn-theme mt-4 wow fadeInUp ml-1">Cancelar</a>
              </div>         
            </form>
        
          </div>
        </div>
      </div>
    </div> <!-- End page Register -->
</div> <!-- End main wrapper -->
<script src="/javascripts/actualizarperfil.js"></script>    
    <% include ../layouts/pie.ejs %> 