 
 <% include ../layouts/cabezera.ejs %>
 <!-- Profile -->
 
   <!-- Page About -->
   <div class="vg-page page-about" id="about">
    <!-- Profile -->
    <div class="container py-3">
      <div class="row">
        <div class="col-md-6">
          <div class="img-place wow zoomIn">
            <img src="../assets/img/person.jpg" alt="Photo Profile">
          </div>
        </div>
        <div class="col-md-6">
          <div class="caption wow fadeInRight">
            <% if (user.rol == 1) { %>
                <h2 class="fg-dark">Administrador</h2>
            <% } else { %> 
                <h2 class="fg-dark">Usuario</h2>
            <% }  %> 
            
            <ul class="theme-list">
                <li class="fg-dark"><b>Correo:</b> <%= user.nombre_apellido %></li>
                <li class="fg-dark"><b>Correo:</b> <%= user.correo %></li>
                <li class="fg-dark"><b>Telefono:</b> <%= user.ntelefono %></li>
            </ul>
            <a href="actualizarperfil" class="btn btn-theme btn-rounded">Actualizar</a>
          </div>
        </div>
      </div>
    </div> <!-- End profile -->

  </div> <!-- End page about -->
  
  <% include ../layouts/pie.ejs %> 